.product-of-week {
  &__title {
    font-size: 25px;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 17px;
    font-weight: bold;
    color: #63d1bb;
  }
  &__description {
    font-size: 15px;
    color: #444444;
  }
  &__characteristics-item {
    // не работает для tr :/
    border-bottom: 1px solid #ececec;
    font-size: 15px;
  }
  &__price {
    font-size: 17px;
    font-weight: bold;
  }
}
