@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/opensans.woff') format('woff'),
  url('/assets/fonts/opensans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/opensansbold.woff') format('woff'),
  url('/assets/fonts/opensansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
