body {
  padding-top: 4rem;
  background-color: #f7f8fa; }

.movie-list {
  margin-top: 10px; }
  .movie-list select {
    padding-top: 4px;
    font-size: 16px; }

.genre-filter {
  margin-top: 27px; }

.genre-filter-link {
  font-size: 14px;
  border-radius: 4px;
  color: #333438;
  background-color: #e6e7ed;
  border-color: #e6e7ed;
  margin: 5px; }

.genre-filter-link:hover {
  cursor: pointer;
  background-color: rgba(53, 59, 65, 0.56);
  color: #fff !important; }

.movie-album {
  min-height: 50rem;
  padding: 0 15px;
  box-shadow: 0 1px 3px 0 rgba(40, 35, 80, 0.28); }

.movie-album .card {
  float: left;
  width: 25%;
  padding: 1.35rem .75rem;
  border: 0; }
  .movie-album .card a {
    color: #868e96; }
  .movie-album .card a:hover {
    text-decoration: none;
    color: rgba(73, 59, 65, 0.86); }
  .movie-album .card img {
    margin-bottom: .5rem; }
  .movie-album .card .card-title {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0; }
  .movie-album .card .movie-card {
    margin-bottom: 10px; }
  .movie-album .card .card-body {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 5px; }

.movie-album__price,
.movie-album__raiting {
  font-size: 14px; }

.movie-album__price {
  color: #28a745; }

.movie-album__raiting {
  color: #ffc107; }

.movie-carousel {
  margin-top: 15px; }

/* Carousel base class */
#randomMovieCarousel .carousel {
  margin-bottom: 4rem;
  background-color: #e6e7ed; }

/* Since positioning the image, we need to help out the caption */
#randomMovieCarousel .carousel__title-text {
  font-size: 1.25rem;
  margin-bottom: 15px; }

/* Declare heights because of positioning of img element */
#randomMovieCarousel .carousel-item {
  padding-top: 22px;
  height: 22rem; }

#randomMovieCarousel dt {
  font-size: 15px; }

#randomMovieCarousel dd {
  font-size: 13px; }

#randomMovieCarousel .carousel-indicators li {
  background-color: #e6e7ed; }

#randomMovieCarousel .carousel-indicators .active {
  background-color: rgba(53, 59, 65, 0.56); }

.movie {
  padding-top: 20px; }

.movie-edit h3 {
  margin-top: 15px;
  font-size: 24px;
  margin-bottom: 20px; }

.edit-controls {
  text-align: right; }

.title-wrapper {
  margin-bottom: 20px;
  position: relative; }

.movie .title-text {
  font-size: 1.25rem;
  margin-bottom: 15px; }

.movie dt {
  font-size: 15px; }

.movie dd {
  font-size: 13px; }

.movie-edit input, .movie-edit textarea, .movie-edit option {
  font-size: 13px; }

.controls {
  text-align: right; }
  .controls button:hover {
    cursor: pointer; }

.review-header {
  margin-top: 30px; }

.review {
  margin-bottom: 10px; }
  .review blockquote {
    margin: 0; }
  .review .blockquote-footer-wrapper {
    margin-top: 15px; }

.review p {
  font-size: 13px; }

.currency_for_movie {
  width: 100px;
  position: absolute;
  top: -8px;
  right: 0; }
  .currency_for_movie select {
    padding-top: 4px; }

#rateSelect {
  padding: 0 0 0 10px;
  height: 27px;
  width: 50%;
  float: right; }

.rate-button {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5; }

.login {
  margin-top: 30px; }

.login-nav {
  margin-left: 25px; }
