<div class="container">
  <div class="movie" ng-hide="movieCtrl.editMode">
    <header class="title-wrapper">
      <h3 class="title-text text-center">
        {{movieCtrl.movie.nameRussian}}
        <small class="text-muted">{{movieCtrl.movie.nameNative}}</small>
      </h3>
      <div class="input-group currency_for_movie">
        <select class="form-control" ng-model="movieCtrl.selectedCurrency"
                ng-change="movieCtrl.updateCurrency()">
          <option value="UAH">UAH</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
      </div>
    </header>

    <div class="row">
      <div class="col-md-3">
        <img class="rounded mx-auto d-block" ng-src="{{movieCtrl.movie.picturePath}}"
             alt="{{movieCtrl.movie.nameRussian}}" width="140"
             height="209">

      </div>
      <div class="col-md-9">
        <dl class="row">
          <dt class="col-sm-3">Release date:</dt>
          <dd class="col-sm-9">{{movieCtrl.movie.yearOfRelease}}</dd>

          <dt class="col-sm-3">Genres:</dt>
          <dd class="col-sm-9">
            <span ng-repeat="genre in movieCtrl.movie.genres">{{genre.name}} </span>
          </dd>

          <dt class="col-sm-3">Countries:</dt>
          <dd class="col-sm-9">
            <span ng-repeat="country in movieCtrl.movie.countries">{{country.name}} </span>
          </dd>

          <div class="col-md-12">
            <div class="row">
              <dt class="col-md-3 mt-1">Rating:</dt>
              <dd class="col-md-5 mt-1">
                {{movieCtrl.movie.rating}} ({{movieCtrl.userRating}})
              </dd>
              <div class="col-md-2 align-self-center" ng-show="user">
                <select ng-model="movieCtrl.selected" class="form-control" id="rateSelect">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
              <div ng-show="user" class="btn btn-primary col-md-1 rate-button" ng-click="movieCtrl.rate()">Rate!</div>
            </div>
          </div>

          <dt class="col-sm-3">Price:</dt>
          <dd class="col-sm-9">
            {{movieCtrl.movie.price}} {{movieCtrl.currencySign}}
          </dd>

          <dt class="col-sm-3">Description:</dt>
          <dd class="col-sm-9">{{movieCtrl.movie.description }}</dd>
        </dl>
      </div>
    </div>


    <div class="controls" ng-show="user.userRole === 'admin'">
      <button type="button" class="btn btn-warning mr-2" ng-click="movieCtrl.editModeOn()">Edit</button>
      <button type="button" class="btn btn-danger">Remove</button>
    </div>
  </div>

  <div class="movie-edit" ng-if="movieCtrl.editMode">
    <h3 class="title-text text-center">
      Edit mode
    </h3>
    <form id="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-3 mb-3">
          <p class="text-center">Image preview</p>
          <img class="rounded mx-auto d-block" ng-src="{{movieCtrl.editMovie.picturePath}}" width="140"
               height="209">
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="nameRussianInput">Name russian</label>
              <input type="text" class="form-control" id="nameRussianInput" ng-model="movieCtrl.editMovie.nameRussian"
                     required>
            </div>
            <div class="col-md-6 mb-2">
              <label for="nameNativeInput">Name native</label>
              <input type="text" class="form-control" id="nameNativeInput" ng-model="movieCtrl.editMovie.nameNative"
                     required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="yearOfReleaseInput">Year</label>
              <input type="text" class="form-control" id="yearOfReleaseInput"
                     ng-model="movieCtrl.editMovie.yearOfRelease" required>
            </div>
            <div class="col-md-6 mb-2">
              <label for="priceInput">Price</label>
              <input type="text" class="form-control" id="priceInput" ng-model="movieCtrl.editMovie.price" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="genresSelect">Genres</label>
                <select multiple class="form-control" id="genresSelect" ng-model="movieCtrl.editMovie.genres">
                  <option data-id="{{genre.id}}" value="{{genre.id}}"
                          ng-repeat="genre in movieCtrl.availableGenres">{{genre.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <label for="countriesSelect">Countries</label>
                <select multiple class="form-control" id="countriesSelect" ng-model="movieCtrl.editMovie.countries">
                  <option data-id="{{country.id}}" value="{{country.id}}"
                          ng-repeat="country in movieCtrl.availableCountries">{{country.name}}
                </select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="picturePathInput">Picture</label>
              <input type="text" class="form-control" id="picturePathInput" ng-model="movieCtrl.editMovie.picturePath"
                     required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <textarea id="descriptionInput" class="form-control" rows="7"
                        ng-model="movieCtrl.editMovie.description"></textarea>
            </div>
          </div>
          <div class="edit-controls">
            <button class="btn btn-success mr-2" type="submit" ng-click="movieCtrl.saveEditChanges()">Save</button>
            <button class="btn btn-info" type="submit" ng-click="movieCtrl.editModeOff()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="title-wrapper review-header">
    <h3 class="title-text text-center">
      Reviews
    </h3>
  </div>

  <div class="reviews">
    <div class="card review" ng-repeat="review in movieCtrl.movie.reviews">
      <div class="card-body">
        <blockquote class="blockquote">
          <p class="mb-0">{{review.text}}</p>
        </blockquote>
        <div class="row align-items-center blockquote-footer-wrapper">
          <div class="col-md-8">
            <footer class="blockquote-footer">
              </cite> {{review.user.nickname}}
            </footer>
          </div>
          <div class="col-md-4" ng-show="review.user.nickname == user.nickname || user.userRole === 'admin'">
            <button type="button" class="btn btn-outline-danger  float-right"
                    ng-click="movieCtrl.removeReview(review.id)">Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card review" ng-show="user">
      <div class="card-body">
        <div class="form-group">
          <textarea class="form-control" rows="3" ng-model="movieCtrl.newReview"></textarea>
        </div>
        <button type="button" class="btn btn-outline-success  float-right" ng-click="movieCtrl.addReview();">Submit
        </button>
      </div>
    </div>
  </div>
</div>
