.movie {
  padding-top: 20px;
}

.movie-edit h3 {
  margin-top: 15px;
  font-size: 24px;
  margin-bottom: 20px;
}

.edit-controls {
  text-align: right;
}

.title-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.movie .title-text {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.movie dt {
  font-size: 15px;
}

.movie dd {
  font-size: 13px;
}

.movie-edit {
  input, textarea, option {
    font-size: 13px;
  }
}

.controls {
  text-align: right;

  button:hover {
    cursor: pointer;
  }
}

.review-header {
  margin-top: 30px;
}

.review {
  margin-bottom: 10px;

  //.card-body {
  //  padding-bottom: 10px;
  //}

  blockquote {
    margin: 0;
  }

  .blockquote-footer-wrapper {
    margin-top: 15px;
  }
}

.review p {
  font-size: 13px;
}

.currency_for_movie {
  width: 100px;
  position: absolute;
  top: -8px;
  right: 0;

  select {
    padding-top: 4px;
  }
}
