.movie-list {
  margin-top: 10px;
}

.genre-filter {
  margin-top: 27px;
  margin-bottom: 40px;
}

.genre-filter-link {
  font-size: 14px;
  border-radius: 4px;
  color: #333438;
  background-color: #e6e7ed;
  border-color: #e6e7ed;
  margin: 5px;
}

.genre-filter-link:hover {
  cursor: pointer;
  background-color: rgba(53, 59, 65, 0.56);
  color: #fff !important;
}

.movie-album {
  min-height: 50rem;
  padding: 0 15px;
  box-shadow: 0 1px 3px 0 rgba(40, 35, 80, .28);
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  border: 0;
}

.card > img {
  margin-bottom: .5rem;
}

.card-title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
}

.card-body {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 5px;
}
