<section class="movie-list">
  <h2 class="text-center">Our collection</h2>
  <div class="genre-filter">
    <ul class="nav nav-pills">
      <li class="nav-item genre-pill">
        <a class="nav-link genre-filter-link" ng-click="ctrl.getAllMovies() ">Show All</a>
      </li>
      <li class="nav-item genre-pill" ng-repeat="genre in ctrl.genres">
        <a class="nav-link genre-filter-link" ng-click="ctrl.showMoviesByGenre(genre.id) ">{{genre.name}}</a>
      </li>
    </ul>
  </div>

  <div class="movie-album text-muted">
    <div class="row">
      <div class="card" ng-repeat="movie in ctrl.movies">
        <img ng-src="{{movie.picturePath}}" class="rounded mx-auto d-block" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{movie.nameNative}} ({{movie.yearOfRelease}})</h4>
        </div>
      </div>
    </div>
  </div>

</section>

<!--ng-click="{{ctrl.showMoviesByGenre(genre.id)}}"-->
